<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>SEI Study Sessions</title>
</head>
<body >
  <div class=main-body>
    <nav>
        <a href="/events/new" <%- title === 'Add Event' ? 'class="active"' : '' %>>ADD EVENT</a>
        <a href="/students" <%- title === 'View Account' ? 'class="active"' : '' %>>VIEW ACCOUNT</a>
        <a href="/events/index" <%- title === 'All Events' ? 'class="active"' : '' %>>ALL EVENTS</a>
    
        <span class="google-loginout">
        <a href="/">HOME</a>  
        <a href="/auth/google">Login with Google</a>   
        <a href="/logout">Log Out</a>
        </span>
       </nav>
      <main>
    <h3>Event Details </h3>
    <div><h5>Event Name</h5></div>
    <div><%= event.eventName %></div>
      </br>
    <div><h5>Creator </h5></div>
   <div> <%= event.creator%> </div>
        </br>
    <div><h5>Event Date</h5></div>
    <div><%= event.date %></div>
    </br>
    <div><h5>Topics</h5></div>
    <div><%= event.topics.join(', ') %></div>   
    <div><h5>Attendees</h4> </div>
    <% if (event.attendees.length) { %>
  
            <% event.attendees.forEach(function(a) { %>

            <div><%= a.attendeeName %></div>

            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <p>No One Joined Yet</p>
      <% } %>

<!-- 
</body>
</html> -->

<h4>Join the event!</h4>
<form id="join-event" method="POST"
  action="/join/<%= event._id %>?_method=PUT">
  <label>Enter name here:</label>
  <input type="text" name="attendeeName">
  <button type="submit"> Submit </button>
</form>

</main>
</div>
</body>
</html>

