<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <div>Event Name </div>
    <div><%= event.eventName %></div>

    <div>Creator</div>
    <%= event.creator%>
    <div>Event Date </div>
    <div><%= event.date %></div>
    <div>Topics </div>
    <div><%= event.topics.join(', ') %></div>   
    <div>Attendees </div>
    <% if (event.attendees.length) { %>
        <table>
          <thead>
            <tr>
                <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% event.attendees.forEach(function(a) { %>
              <tr>
                <td><%= a.attendees %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No One Joined Yet</h5>
      <% } %>


</body>
</html>

<br>
<h2>Join the event!</h2>
<form id="join-event" method="POST"
  action="/event/<%= event._id %>">
  <input type="submit" value = <%= student.name %> >
</form>



